body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #333);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background: #000;
    color: #fff;
    z-index: 2;
}

footer p {
    margin: 0;
    font-size: 10px;
}

.github-link {
    position: absolute;
    right: 10px;
    color: #fff;
    text-decoration: none;
}

footer img {
    width: 25px;
    height: 25px;
}

.dialog-dark {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 50vw;
    height: 30vh;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
}

.dialog-title {
    text-align: center;
    font-size: 2em;
}

.dialog-description {
    text-align: center;
}

.close-button {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .dialog-dark {
        width: 90vw;
        height: 90vh;
    }

    .dialog-title {
        font-size: 1.5em;
    }

    .close-button {
        font-size: 25px;
        padding: 15px;
    }
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #000, #fff, #000); /* Cambia '#000' y '#fff' a los colores que desees para el degradado */
    background-size: 200% auto;
    animation: lineAnimation 2s linear infinite;
    transform: rotate(315deg);
    z-index: 0;
}

.line1 {
    top: 10%;
    left: -25%;
    animation-delay: 0s;
}

.line2 {
    top: 40%;
    left: -20%;
    animation-delay: 0.25s;
}

.line3 {
    top: 60%;
    left: 40%;
    animation-delay: 0.7s;
}

@keyframes lineAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}